@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body{
    background-color: #05C7F2;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #056CF2;
}
h1#principal {
    text-align: center;
    background-color: #F24130;
    color: #05DBF2;
}
h2{
    color: #ffff;
}
.basico {
    color: rgb(101, 160, 6);
}
.intermediario {
    color: rgb(223, 209, 21);
}
.avancado {
    color: rgb(150, 10, 10);
}
.destaque {
    background-color: gold;
}